page-contact {
    .btn1{
        float:left;
        margin:0 auto;
    }
    .tbtn{
        float:left;
    }
    .title{
        text-align: center;
        margin:0 auto;
        padding-top:15px;
    }
    .title p{
        margin:0 auto;
    }
    .text{
        color:#a7a7a7;
        font-size:16px;
        padding-left: 15px;
    }
    .inp{
        height:150px;
    }
    .img img{
        width:40px;
    }
    .btn{
        background-color: #fedb47;
        width:50%;
        height:40px;
        border-radius: 30px;
        margin-left:25%; 
    }
}