page-shezhi {
    .title{
        text-align:center;
        margin:0 auto;
        padding-top: 15px;
    }
    .allbtn{
        text-align: center;
    }
    .btn{
        width:200px;
        background-color: #fedb47;
        height:50px;
        font-size: 20px;
        border-radius: 20px;
    }
    .tbtn{
        float: left;
    }
}
