page-navigation-details {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }
      .title{
        text-align: center;
      }
      .btn1{
        float:left;
        margin:0 auto;
      }
      .title p{
        margin:0 auto;
        padding-top: 10px;
      }
}
